<!DOCTYPE html>
<html>
<head>
  <title>Reset Password Request</title>
</head>
<body>
  <h1>Reset Password Request</h1>
  <p>Hello {{name}},</p>
  <p>We received a request to reset your password. Click the link below to reset it:</p>
  <a href="{{resetUrl}}">Reset Password</a>
  <p>If you didn't request a password reset, please ignore this email.</p>
</body>
</html>